[Desktop Entry]
Type=Application
Name=Disks
Comment=Mount and unmount drives
Exec=mnttool -scheme gtk+ -bg #EFEDF8 -bg2 #FFFFFF -fg #1C1B24
Icon=mnttool
Terminal=false
Categories=System;
