[Desktop Entry]
Name=Install xxri OS Lite
Comment=Install xxri OS Lite to a disk
Exec=xxri-installer
Type=Application
X-FullPathIcon=/usr/local/share/pixmaps/xxri-installer.png
Icon=xxri-installer
Categories=System;
